/*
Version 2.0
[Table of contents]
-------------------------------------------------------------------------
. General
-------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. General
*/
body,
html {
  color: #cccccc;
}
body,
html {
  background-color: #333333;
}
a {
  color: #E0162E;
}
a:hover,
a:active,
a:focus {
  color: #AD001C;
}
input {
  color: #1b1b1b;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Fixed Navbar
*/
.fixed-navbar {
  background-color: #1b1b1b;
}
.fixed-navbar .ico-item {
  color: #ffffff;
}
.menu-mobile-button {
  background-color: #1b1b1b;
  color: #ffffff;
}
.page-title {
  color: #ffffff;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Header
*/
.header .logo {
  background-color: #1b1b1b;
  color: #ffffff;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Box Content
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Main Menu
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Navigation
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Menu Active
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Footer
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Boostrap
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Calendar
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Chart
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Contact List
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Mail
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Notice Popup
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Ranger Slider
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Percent Circle
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Table
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Timeline
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. User Info
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Widget
*/
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
. Other
*/
/*---------------------------------------------------------------------*/
